In [85]:
import pandas as pd

school = {'school_id': ['sch_1', 'sch_2', 'sch_3', 'sch_h', 'sch_5', 'sch_6'], 'state_code': ['!@sc_1', '))sc_2', '!@sc_2', 'sc_2)_', 'sc_1#@', 'sc_10#@'], 'subject': [
    ['english', 'maths', 'chemistry'], ['english', 'physics', 'chemistry'], ['maths', 'biology'], ['french'], ['social_studies', 'maths', 'literature'], ['english', 'maths', 'history']]}
df = pd.DataFrame(school)
df['state_code'] = df['state_code'].str.replace('[^a-zA-Z0-9]', '', regex=True)
df['subject'] = df['subject'].apply(lambda x: ','.join(map(str, x)))
df['subject_count'] = df['subject'].str.split(',').apply(len)
df = df[df['subject_count'] >= 3].drop(columns=['subject_count'])
df['english'] = df['subject'].apply(lambda x: 'english' in x).astype(int)
df['math'] = df['subject'].apply(lambda x: 'maths' in x).astype(int)
df['physics'] = df['subject'].apply(lambda x: 'physics' in x).astype(int)
df['chemistry'] = df['subject'].apply(lambda x: 'chemistry' in x).astype(int)
df = df.drop(columns=['school_id', 'subject'])
df.groupby(['state_code']).sum()
# df

            english  math  physics  chemistry
state_code
sc1               1     2        0          1
sc10              1     1        0          0
sc2               1     0        1          1